doctype html
html
    head
        title #{title}
        link(rel='stylesheet', href='/stylesheets/countryPage.css')
        meta(name="viewport" content="width=device-width, initial-scale=1")
    body

        <div class="grid-container">
        div.header #{title}
        div.menu
            ul
                li
                    a(href='/') Home Page
                li
                    a(href='country') World Map
                li
                    a(href='comment') User Comment
                li
                    a(href='information') News & Information

        div.main
            div
                center
                    table.content
                        tr
                            th Region Name
                            th Confirmed Case Num
                            th Death Case Num


                            each country in countries
                                tr.tbody
                                    td #{country.country}
                                    td #{country.confirmed_cases}
                                    td #{country.death_cases}

